<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Bubble A4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 308}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble B4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 194}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble Burst.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 343}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble C4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 341}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble C5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 159}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble D4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 308}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble E4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{35, 343}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble F4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 306}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble G4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{35, 308}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam A4 Blink 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {58, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{58, 45}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 94}, {58, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam A4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 106}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam A4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {58, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{58, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{307, 49}, {58, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam B4 Blink 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {58, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{58, 45}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 145}, {58, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam B4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 106}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam B4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 257}, {58, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C4 Blink 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {60, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{60, 45}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{367, 0}, {60, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 53}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {60, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{60, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{245, 53}, {60, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C5 Blink 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {58, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{58, 45}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 304}, {58, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C5 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{245, 0}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 151}, {58, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam D4 Blink 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {60, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{60, 45}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{307, 98}, {60, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam D4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 0}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam D4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {60, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{60, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{245, 102}, {60, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam E4 Blink 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {60, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{60, 45}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 257}, {60, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam E4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 53}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam E4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {60, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{60, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 0}, {60, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam F4 Blink 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {60, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{60, 45}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 200}, {60, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam F4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 0}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam F4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {60, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{60, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 159}, {60, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam G4 Blink 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {60, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{60, 45}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{367, 47}, {60, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam G4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 159}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam G4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {60, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{60, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 208}, {60, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Whale Instructor Blink 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 75}</string>
			<key>spriteSourceSize</key>
			<string>{123, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 77}, {123, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Whale Instructor Idle 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 75}</string>
			<key>spriteSourceSize</key>
			<string>{123, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {123, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Whale Instructor Idle 02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 75}</string>
			<key>spriteSourceSize</key>
			<string>{123, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 154}, {123, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Whale Instructor Sing 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {121, 75}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{121, 75}</string>
			<key>spriteSourceSize</key>
			<string>{123, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 231}, {121, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Whale Instructor Wrong 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {115, 73}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{115, 73}</string>
			<key>spriteSourceSize</key>
			<string>{123, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 231}, {115, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>sheet01.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>sheet01</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>sheet01</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>