<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Animations</key>
		<array>
			<dict>
				<key>Animate Delay</key>
				<real>0.2</real>
				<key>Name</key>
				<string>Idle</string>
				<key>Num Frames</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Animate Delay</key>
				<real>1</real>
				<key>Name</key>
				<string>Sing</string>
				<key>Num Frames</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Animate Delay</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Wrong</string>
				<key>Num Frames</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>Name</key>
		<string>Whale Instructor</string>
	</dict>
</array>
</plist>
