<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Bubble A4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 522}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble B4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 636}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble C4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 704}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble C5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 543}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble D4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 774}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble E4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{582, 438}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble F4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 611}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bubble G4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 454}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam A4 Blink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {116, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{116, 89}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 622}, {116, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam A4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {114, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 103}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 107}, {114, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam A4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {116, 91}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{116, 91}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 547}, {116, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam B4 Blink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {116, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{116, 89}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 531}, {116, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam B4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {114, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 103}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 2}, {114, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam B4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {116, 91}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{116, 91}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 640}, {116, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C4 Blink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {116, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{116, 89}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 733}, {116, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {114, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 103}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 303}, {114, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {116, 91}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{116, 91}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 640}, {116, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C5 Blink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {116, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{116, 89}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 212}, {116, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C5 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {114, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 103}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 438}, {114, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam C5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {116, 91}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{116, 91}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 547}, {116, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam D4 Blink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {116, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{116, 89}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 770}, {116, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam D4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {114, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 103}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 107}, {114, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam D4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {116, 91}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{116, 91}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 454}, {116, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam E4 Blink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {116, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{116, 89}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 679}, {116, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam E4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {114, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 103}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 408}, {114, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam E4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {116, 91}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{116, 91}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 438}, {116, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam F4 Blink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {116, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{116, 89}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 683}, {116, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam F4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {114, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 103}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 2}, {114, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam F4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {116, 91}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{116, 91}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 454}, {116, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam G4 Blink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {116, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{116, 89}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 733}, {116, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam G4 Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {114, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 103}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 531}, {114, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clam G4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {116, 91}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{116, 91}</string>
			<key>spriteSourceSize</key>
			<string>{120, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 590}, {116, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Whale Instructor Idle 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 19}, {346, 212}}</string>
			<key>spriteOffset</key>
			<string>{-14, -0}</string>
			<key>spriteSize</key>
			<string>{346, 212}</string>
			<key>spriteSourceSize</key>
			<string>{400, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 224}, {346, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Whale Instructor Idle 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 19}, {350, 220}}</string>
			<key>spriteOffset</key>
			<string>{-16, -4}</string>
			<key>spriteSize</key>
			<string>{350, 220}</string>
			<key>spriteSourceSize</key>
			<string>{400, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {350, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Whale Instructor Sing 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 19}, {318, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{318, 212}</string>
			<key>spriteSourceSize</key>
			<string>{400, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 2}, {318, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Whale Instructor Wrong 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 19}, {344, 228}}</string>
			<key>spriteOffset</key>
			<string>{-12, -8}</string>
			<key>spriteSize</key>
			<string>{344, 228}</string>
			<key>spriteSourceSize</key>
			<string>{400, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 224}, {344, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>