<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Introduction</key>
	<array>
		<array>
			<string>Oh look, it&apos;s a new face. I haven&apos;t seen you down here before. My name is &lt;b&gt;Willy the Whale&lt;/b&gt; and this is where I live. It&apos;s called the &lt;b&gt;Tiny Barrier Reef.&lt;/b&gt;</string>
			<string>Do you see those pretty rocks? Those are called &lt;b&gt;coral.&lt;/b&gt; It&apos;s a very colorful place, but sometimes it gets too quiet. </string>
			<string>Wait, you&apos;re not from the sea, are you? Oh! I can see your fingers! I only have &lt;b&gt;flippers&lt;/b&gt;. That means you can help us make some music. Come on!</string>
		</array>
	</array>
	<key>Easy Tutorial</key>
	<array>
		<array>
			<string>The sea is always singing, we just have to be clever enough to hear it. I think it&apos;s all in the &lt;b&gt;bubbles.&lt;/b&gt;</string>
			<string>If you see any bubbles floating up, make sure you pop them. Make sure to pop them in the right order though, otherwise it won&apos;t sound very good.</string>
		</array>
	</array>
	<key>Medium Tutorial</key>
	<array>
		<array>
			<string>My friends, &lt;b&gt;The Clams&lt;/b&gt;, heard you were visiting, and they wanted to come out and play too!</string>
			<string>They&apos;re really good at making music, but they don&apos;t know how to work together. It&apos;s up to you to help.</string>
			<string>When you see a colored bubble, touch the clam with the &lt;b&gt;same color&lt;/b&gt; before the bubble floats away. So, if you see a red bubble, touch the red clam!</string>
		</array>
	</array>
	<key>Greetings</key>
	<array>
		<array>
			<string>Hello, it&apos;s me, Willy.</string>
		</array>
		<array>
			<string>Hi, remember me, Willy?</string>
		</array>
		<array>
			<string>It is I, Willy! Whale composer extraordinaire.</string>
		</array>
	</array>
	<key>Song Start</key>
	<array>
		<array>
			<string>Ok, here goes nothing. Get ready!</string>
		</array>
		<array>
			<string>On your mark, get set, go!</string>
		</array>
		<array>
			<string>Ears perked, fingers forward. Are you ready?</string>
		</array>
		<array>
			<string>Oh, I can&apos;t wait to hear you play. Here we go!</string>
		</array>
	</array>
	<key>Scoldings</key>
	<array>
		<array>
			<string>Oh no, that&apos;s not right. Try again.</string>
		</array>
		<array>
			<string>No, I don&apos;t think that&apos;s correct.</string>
		</array>
		<array>
			<string>That sounds weird. Why don&apos;t you try again?</string>
		</array>
	</array>
	<key>Song Complete Good</key>
	<array>
		<array>
			<string>That sounded great, I knew you could do it!</string>
		</array>
		<array>
			<string>That was music to my ears! Good job!</string>
		</array>
	</array>
	<key>Song Complete Bad</key>
	<array>
		<array>
			<string>Hmm… I think you need more practice. Remember, practice makes perfect.</string>
		</array>
		<array>
			<string>You&apos;ll do better next time, I know it. Just remember to practice.</string>
		</array>
	</array>
	<key>Score Explanation</key>
	<array>
		<array>
			<string>This is the score screen. It tells you how well you did. You can even see how many notes you missed. If you played well enough, you&apos;ll earn a &lt;b&gt;badge&lt;/b&gt; for each difficulty.</string>
		</array>
	</array>
	<key>Random Saying</key>
	<array>
		<array>
			<string>There&apos;s always music around us, you just have to know where to find it.</string>
		</array>
		<array>
			<string>Have you been to the &lt;b&gt;Great Barrier Reef?&lt;/b&gt; I heard it&apos;s almost as nice as this.</string>
		</array>
		<array>
			<string>Did you know some whales, such as &lt;b&gt;humpback whales,&lt;/b&gt; can sing too?</string>
		</array>
	</array>
	<key>Tutorial Prompt</key>
	<array>
		<array>
			<string>Oh, I see you this is your first time playing this mode. Do you want to have a lesson first? I can teach you how to read &lt;b&gt;musical notation.&lt;/b&gt;</string>
		</array>
	</array>
	<key>Bubble Badge</key>
	<array>
		<array>
			<string>I award you &lt;b&gt;The Bubble Badge&lt;/b&gt;</string>
		</array>
	</array>
	<key>Clam Badge</key>
	<array>
		<array>
			<string>I award you &lt;b&gt;The Clam Badge&lt;/b&gt;</string>
		</array>
	</array>
	<key>Note Badge</key>
	<array>
		<array>
			<string>I award you &lt;b&gt;The Note Badge&lt;/b&gt;</string>
		</array>
	</array>
</dict>
</plist>
