<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Easy Instructions</key>
	<array>
		<array>
			<string>Hey there, little buddy! My name is Paul the Whale, I&apos;ll be your teacher while you&apos;re visiting us under the ocean.</string>
			<string>If you look down there, you&apos;ll see my friends, the Crazy Clams, they make music when you touch them. Why don&apos;t you give it a try? Just tap any of them with your finger. Go ahead!</string>
		</array>
	</array>
	<key>Easy Instructions 2</key>
	<array>
		<array>
			<string>Now that you got the hang of it, we&apos;re going to play a little game to make some more music. </string>
			<string>I&apos;m going to blow a bubble, and you&apos;ll see one of my clam friends open his mouth to sing.</string>
			<string>After we&apos;re done, then it&apos;s your turn to play the same note! OK, are you ready yet?  You can tell me you&apos;re ready by poking me, but not too hard!</string>
		</array>
	</array>
	<key>Easy Wrong Note</key>
	<array>
		<array>
			<string>Oh that&apos;s not right. Remember, you have to play the same note that we play. Why don&apos;t you try again?</string>
		</array>
	</array>
	<key>Easy Replay</key>
	<array>
		<array>
			<string>I&apos;m going to show you the note again. Don&apos;t forget it!</string>
		</array>
		<array>
			<string>Here&apos;s a hint:</string>
		</array>
	</array>
	<key>Easy Correct Note</key>
	<array>
		<array>
			<string>Good job! You&apos;re getting the hang of it. Let&apos;s keep going!</string>
		</array>
	</array>
	<key>Medium Instructions</key>
	<array>
		<array>
			<string>Hi again, it&apos;s Paul the Whale. You have to help me! I don&apos;t know where my voice went. No, not this voice, my SINGING voice.</string>
			<string>I got up today, and I can&apos;t sing anymore. I called my friends, the Clams, over to help, but they don&apos;t know my songs. Maybe you can help. I don&apos;t know if you&apos;re ready for this yet...</string>
			<string>Well, maybe you are, little buddy. But you can&apos;t let me down! I&apos;m going to blow all the notes out, and you have to follow along. If I blow a red bubble, you have to play the red clam.</string>
			<string>Don&apos;t fall behind. If you can&apos;t let any of my bubbles float away, we have to start over again, otherwise everybody will think I&apos;m a bad singer.</string>
		</array>
	</array>
	<key>Medium Replay</key>
	<array>
		<array>
			<string>Oh no, you let one of my bubbles reach the surface. You&apos;ll have to be faster. Tell me when you&apos;re ready, and we&apos;ll try again.</string>
		</array>
		<array>
			<string>Remember, you can&apos;t let the bubbles get away from you. Are you ready to try again?</string>
		</array>
	</array>
	<key>Hard Instructions</key>
	<array>
		<array>
			<string>You&apos;ve been getting really good at this, whale done! Ha ha, get it? Are you up for the final challenege?</string>
			<string>Everybody&apos;s been hearing about you, they want to hear you play on your own. I can show you how each part goes before you start, but you&apos;ll have to use your memory after that!</string>
			<string>Remember, you even if you get a wrong note, make sure you hit the right one before going on. If you get too many notes wrong, we&apos;ll have to stop.</string>
			<string>Are you ready?</string>
		</array>
	</array>
	<key>Hard Replay</key>
	<array>
		<array>
			<string>That&apos;s not how it went. It goes like this -</string>
			<string>I remember it sounded different, kind of like this -</string>
		</array>
	</array>
	<key>Next Section</key>
	<array>
		<array>
			<string>Good job! This is what the next section sounds like.</string>
		</array>
		<array>
			<string>Keep up the good work. There&apos;s still more song left!</string>
		</array>
	</array>
	<key>Hard Play</key>
	<array>
		<array>
			<string>Ok, it&apos;s your turn!</string>
		</array>
		<array>
			<string>Take a deep breath, concentrate, and play!</string>
		</array>
	</array>
	<key>Wrong Note</key>
	<array>
		<array>
			<string>Oh, that doesn&apos;t sound right</string>
		</array>
		<array>
			<string>Hmm...that&apos;s not the right note</string>
		</array>
	</array>
	<key>Song Start</key>
	<array>
		<array>
			<string>Here we go! Are you ready?</string>
		</array>
		<array>
			<string>Ok, I&apos;m ready when you are!</string>
		</array>
	</array>
</dict>
</plist>
