<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>American Classics Pack</string>
	<key>Songs</key>
	<array>
		<string>Yankee Doodle</string>
		<string>O Susanna</string>
		<string>O When The Saints</string>
	</array>
</dict>
</plist>
