<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Nursery Pack</string>
	<key>Songs</key>
	<array>
		<string>Hot Cross Buns</string>
		<string>Twinkle Twinkle</string>
		<string>Frere Jacques</string>
		<string>Itsy Bitsy Spider</string>
		<string>London Bridge</string>
		<string>Mary Had A Little Lamb</string>
		<string>Old MacDonald</string>
		<string>Ring Around A Rosy</string>
		<string>Row Row</string>
		<string>Skip To My Lou</string>
		<string>This Old Man</string>
		<string>Three Blind Mice</string>
	</array>
</dict>
</plist>
